[Unit]
Description=TorLinkRotator celery worker daemon
After=network.target

[Service]
Type=forking
User=torlinkrotator
Group=webapps
WorkingDirectory=/webapps/torlinkrotator/tor-link-rotator
ExecStart=/bin/sh -c '/webapps/torlinkrotator/tor-link-rotator/tmp/venv/bin/celery -A TorLinkRotator multi start worker_torlinkrotator --pidfile="/webapps/torlinkrotator/tor-link-rotator/tmp/celery_worker.pid" --logfile="/webapps/torlinkrotator/tor-link-rotator/tmp/celery_worker.log" --loglevel="INFO"'
ExecStop=/bin/sh -c '/webapps/torlinkrotator/tor-link-rotator/tmp/venv/bin/celery -A TorLinkRotator multi stopwait worker_torlinkrotator --pidfile=/webapps/torlinkrotator/tor-link-rotator/tmp/celery_worker.pid'
ExecReload=/bin/sh -c '/webapps/torlinkrotator/tor-link-rotator/tmp/venv/bin/celery -A TorLinkRotator multi restart worker_torlinkrotator --pidfile="/webapps/torlinkrotator/tor-link-rotator/tmp/celery_worker.pid" --logfile="/webapps/torlinkrotator/tor-link-rotator/tmp/celery_worker.log" --loglevel="INFO"'

[Install]
WantedBy=multi-user.target
