[Unit]
Description=TorLinkRotator gunicorn daemon
After=network.target

[Service]
User=torlinkrotator
Group=torlinkrotator
RuntimeDirectory=gunicorn_torlinkrotator
RuntimeDirectoryMode=0775
WorkingDirectory=/home/torlinkrotator/TorLinkRotator

# For specify correct threads & workers check this resource
# https://docs.gunicorn.org/en/stable/design.html#how-many-workers
ExecStart=/home/torlinkrotator/TorLinkRotator/tmp/venv/bin/gunicorn \
		--access-logfile - \
		--error-logfile /home/torlinkrotator/TorLinkRotator/tmp/gunicorn_error.log \
		--workers <(2 x num_cores) + 1> \
		--threads <num_cores> \
		--chdir /home/torlinkrotator/TorLinkRotator \
		--bind unix:/var/run/gunicorn_torlinkrotator/socket \
		scripts.wsgi:application

[Install]
WantedBy=multi-user.target
