[Unit]
Description=TorLinkRotator gunicorn daemon
After=network.target

[Service]
User=torlinkrotator
Group=webapps
RuntimeDirectory=gunicorn_torlinkrotator
RuntimeDirectoryMode=0775
WorkingDirectory=/webapps/torlinkrotator/tor-link-rotator

# For specify correct threads & workers check this resource
# https://docs.gunicorn.org/en/stable/design.html#how-many-workers
ExecStart=/webapps/torlinkrotator/tor-link-rotator/tmp/venv/bin/gunicorn \
		--access-logfile - \
		--error-logfile /webapps/torlinkrotator/tor-link-rotator/tmp/gunicorn_error.log \
		--workers <(2 x num_cores) + 1> \
		--threads <num_cores> \
		--chdir /webapps/torlinkrotator/tor-link-rotator \
		--bind unix:/var/run/gunicorn_torlinkrotator/socket \
		scripts.wsgi:application

[Install]
WantedBy=multi-user.target
